@model DTP.ViewModels.GameSessionViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewBag.Title = "All Games";
}

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Games" asp-action="Create">Create New</a>
}

<h1>@ViewBag.Title</h1>
@foreach (var g in Model.Games)
{
    string borderColor;
    if (g.CurrentPlayers >= g.NeededPlayers)
    {
        borderColor = "green";
    }
    else if (g.CurrentPlayers > 0)
    {
        borderColor = "orange";
    }
    else
    {
        borderColor = "gainsboro";
    }
    <div style="float: left; border: 5px solid @borderColor; width: 220px; height: 220px; margin: 10px; padding: 5px;">
        <h2 style="text-align: center">@g.Name</h2>
        <ul>
            <li>Needed Players: @g.NeededPlayers</li>
            <li>Current Players: @g.CurrentPlayers</li>
            <ul>
                @foreach (var jg in Model.JoinedGames)
                {
                    if (jg.GameID == g.ID)
                    {
                        <li>@jg.Username</li>
                    }
                }
            </ul>
        </ul>
        <div style="  bottom:0; padding: 2px; text-align: center">
            @if (Model.CurrentUserGames.Contains(g.ID))
            {
                <a asp-controller="GameSessions" asp-action="LeaveGame" asp-route-gameID="@g.ID" class="btn btn-primary confirm">Leave</a>
            }
            else if (Model.CurrentUserID != null)
            {
                <a asp-controller="GameSessions" asp-action="JoinGame" asp-route-gameID="@g.ID" class="btn btn-primary confirm">Join</a>
            }
            @if (g.CreatedBy == Model.CurrentUserID)
            {
                <a asp-controller="Games" asp-action="Edit" asp-route-id="@g.ID" class="btn btn-default confirm">Edit</a>
                <a asp-controller="Games" asp-action="Delete" asp-route-id="@g.ID" class="btn btn-danger confirm">Delete</a>
            }
        </div>
    </div>


}