@model DTP.ViewModels.GameSessionViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewBag.Title = "All Games";
}
<nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>You are here:</h2>
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    Home
                </li>
            </ol>
        </div>
    </div>
</nav>
<main role="main" property="mainContentOfPage" class="container">
    <h1 id="wb-cont" property="name">@ViewBag.Title</h1>
    @foreach (var g in Model.Games)
    {
        string borderColor;
        if (g.CurrentPlayers >= g.NeededPlayers)
        {
            borderColor = "green";
        }
        else if (g.CurrentPlayers > 0)
        {
            borderColor = "orange";
        }
        else
        {
            borderColor = "gainsboro";
        }
        <div style="border: 5px solid @borderColor; float: left; width: 230px; height: 100%; margin: 10px; padding: 5px;">
            <h2 style="text-align: center">@g.Name</h2>
            <ul>
                <li>Needed Players: @g.NeededPlayers</li>
                <li>Current Players: @g.CurrentPlayers</li>
                <ul>
                    @foreach (var jg in Model.JoinedGames)
                    {
                        if (jg.GameID == g.ID)
                        {
                            <li>@jg.Username</li>
                        }
                    }
                </ul>
            </ul>
            <div style="  bottom:0; padding: 2px; text-align: center">
                @if (Model.CurrentUserGames.Contains(g.ID))
                {
                    <a asp-controller="GameSessions" asp-action="LeaveGame" asp-route-gameID="@g.ID" class="btn btn-primary confirm">Leave</a>
                }
                else if (Model.CurrentUserID != null)
                {
                    <a asp-controller="GameSessions" asp-action="JoinGame" asp-route-gameID="@g.ID" class="btn btn-primary confirm">Join</a>
                }
                @if (g.CreatedBy == Model.CurrentUserID)
                {
                    <a asp-controller="Games" asp-action="Edit" asp-route-id="@g.ID" class="btn btn-default confirm">Edit</a>
                    <a asp-controller="Games" asp-action="Delete" asp-route-id="@g.ID" class="btn btn-danger confirm">Delete</a>
                }
            </div>
        </div>
    }
</main>